<div class="form">
    <form action="#">
        <input type="text" placeholder="Search">
        <button >Search</button>
    </form>
</div>
<div class="add-product">
    <button onclick="addProduct()">Thêm sản phẩm</button>
</div>
<div class="table">
    <table class="">
        <thead>
            <tr>
                <th scope="col" id="pro-id">ID</th>
                <th scope="col" id="pro-name">Name</th>
                <th scope="col" id="pro-current-price">Current price</th>
                <th scope="col" id="pro-old-price">Old price</th>
                <th scope="col" id="pro-image">image</th>
                <th scope="col" id="pro-category">Category</th>
                <th scope="col" id="">Edit</th>
                <th scope="col" id="">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" >1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td><button class="btn btn-edit"><i class="fa-solid fa-pen-to-square"></i></button></td>
                <td><button class="btn btn-delete"><i class="fa-solid fa-trash"></i></i></button></td>
                
                
            </tr>
            
        </tbody>
    </table>
</div>