<h3>Danh mục</h3>
<ul>
    <li onclick="showProduct(`product`)">Manufacturer</li>
    <li onclick="showProduct(`category`)">Category</li>
    <li onclick="showProduct(`product`) ">Product</li>
    <li onclick="showProduct()">Account</li>
</ul>
<h3>Manufacturer</h3>
<ul>
    <li><a href="#">Samsung</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Xiaomi</a></li>
    <li><a href="#">Oppo</a></li>
</ul>
<h3>Categorys</h3>
<select name="" id="">
    <option selected >--Select Cate</option>
    <option value="Apple" >Apple</option>
    <option value="Xiaomi" >Xiaomi</option>
    <option value="Oppo" >Oppo</option>
</select>